body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue','Times New Roman', Times, serif
 ;
    background: white;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
  }

  form {
    max-width: 500px;
    margin: 0 auto;
  }
  
  h1 {
    font-weight: 100;
    color: #0e101c;
    text-align: center;
    padding-bottom: 10px;
    
  }
  .container{
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .form {
    background: #0e101c;
    max-width: 400px;
    margin: 0 auto;
    color: white;
  }
  
  p {
    color: #bf1650;
  }
  
  p::before {
    display: inline;
    content: "⚠ ";
  }
  
  input,
  select {
    display: block;
    box-sizing: border-box;
    width: 100%;
    border-radius: 4px;
    border: 1px solid #0e101c;
    padding: 10px 15px;
    margin-bottom: 10px;
    font-size: 14px;
  }
  .address {
    border: 1px solid #0e101c;
    padding: 15px;
    margin-top: 20px;
  }
  .title-address {
    width: 60px;
    background-color: white;
    position: relative;
    bottom: 35px;
    padding: 5px;
  }
  label {
    line-height: 2;
    text-align: left;
    display: block;
    margin-bottom: 13px;
    margin-top: 20px;
    color: black;
    font-size: 14px;
    font-weight: 200;
  }
  
  button[type="submit"],
  input[type="submit"] {
    background: #59ece0;
    color: white;
    text-transform: uppercase;
    border: none;
    margin-top: 40px;
    padding: 20px;
    font-size: 16px;
    font-weight: 100;
    letter-spacing: 10px;
  }
  
  button[type="submit"]:hover,
  input[type="submit"]:hover {
    background: #0116b3;
  }
  .button-container {
    display: flex;
    justify-content: center;
    margin-top: 20px;
  }
  button[type="submit"]:active,
  input[type="button"]:active,
  input[type="submit"]:active {
    transition: 0.3s all;
    transform: translateY(3px);
    border: 1px solid transparent;
    opacity: 0.8;
  }
  
  input:disabled {
    opacity: 0.4;
  }
  
  input[type="button"]:hover {
    transition: 0.3s all;
  }
  
  button[type="submit"],
  input[type="button"],
  input[type="submit"] {
    -webkit-appearance: none;
  }
  
  .App {
    max-width: 100%;
    margin: 0 auto;
  }
  
  button[type="button"] {
    display: block;
    appearance: none;
    background: #333;
    color: white;
    border: none;
    text-transform: uppercase;
    padding: 10px 20px;
    border-radius: 4px;
  }
  
  hr {
    margin-top: 30px;
  }
  
  button {
    display: block;
    appearance: none;
    margin-top: 40px;
    border: 1px solid #333;
    margin-bottom: 20px;
    text-transform: uppercase;
    padding: 10px 20px;
    border-radius: 4px;
  }
  .react-select__control {
    margin: 10px 0;
    border-radius: 5px;
    box-shadow: 0 0 0 1px #d1d5db;
  }
  
  .react-select__menu {
    border-radius: 5px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  }
  
  .react-select__option--is-selected {
    background-color: #f0f0f0;
  }  
  span {
    color: red;
    font-size: 12px;
  }
  /* EmployeeList */
  .employee-list {
    padding: 20px;
    max-width: 900px;
    margin: 0 auto;
  }
  
  .employee-list h2 {
    margin-bottom: 20px;
    text-align: center;
  }
  
  .employee-list table {
    width: 100%;
    border-collapse: collapse;
  }
  
  .employee-list table, .employee-list th, .employee-list td {
    width: 890px;
  }
  
  .employee-list th, .employee-list td {
    padding: 8px;
    text-align: left;
    font-family: 'Times New Roman', Times, serif;
    width: 90px;
  }
  
  .employee-list .FirstName {
    background-color: #ddd;
  }
  
  .employee-list td {
    background-color: #f1f1f1;
  }
  .back-link a:hover {
    text-decoration: underline;
  }
  .back-link a {
    color: #007bff;
    text-decoration: none;
    font-size: 16px;
  }
  .back-link {
    margin-bottom: 20px;
    text-align: center;
  }
  .employee-list .options {
    margin-bottom: 20px;
    text-align: center;
  }
  
  .employee-list .options label {
    margin-right: 10px;
  }
  
  .employee-list .options select {
    padding: 5px;
  }
  
  .employee-list .pagination {
    display: flex;
    justify-content: center;
    margin-top: 20px;
  }
  
  .employee-list .pagination button {
    margin: 0 2px;
    padding: 5px 10px;
    border: 1px solid #ddd;
    background-color: #f9f9f9;
    cursor: pointer;
  }
  
  .employee-list .pagination button.active {
    background-color: #007bff;
    color: #fff;
  }
  
  .employee-list .pagination button:hover {
    background-color: #ddd;
  }
  .employee-list th {
    cursor: pointer;
    background-position: right;
    background-repeat: no-repeat;
    padding-right: 20px; /* Pour laisser de la place pour l'image de tri */
  }
  
  .employee-list th.sortable {
    background-image: url(./images/sort-icon.png);
  }
  
  .employee-list th.sortable.asc {
    background-image: url(./images/sort-asc.png);
    background-size:  10px 10px ;
  }
  
  .employee-list th.sortable.desc {
    background-image: url(./images/sort-desc.png);
    background-size:10px 10px  ;
  }