body {
    margin: 0;
    font-family: "Lora", serif;
    ;
    background: white;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    color: black;
  }
  .App {
    max-width: 100%;
    margin: 0 auto;
  }

  


