
.patch {
  background-color: #73852B;
  width: 250px;
  height: 60px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50px;
}
.button-container {
  display: flex;
  justify-content: center;
  margin-top: 20px;
}



